entrypoint = "main.py"
modules = ["python-3.11"]

[nix]
channel = "stable-24_05"
packages = ["python311Packages.beautifulsoup4", "python311Packages.feedparser", "python311Packages.python-telegram-bot", "python312Packages.googletrans", "python312Packages.langdetect", "python312Packages.requests"]

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["python3", "main.py"]
deploymentTarget = "cloudrun"
